* {
    margin: 0px;
    padding: 0px;
    font-family: 'Sergoe Print', serif;
}

.container {
    margin: auto;
    width: 1290px;
}

.wrapper#blur.active {
    background-color: #C4C4C4;
    opacity: 0.2;
    pointer-events: none;
    user-select: none;
}

.header {
    display: flex;
    width: 100%;
}

.header__content {
    display: flex;
    padding: 15px 0px 15px 0px;
    align-items: center;
}

.header__left {
    width: 50%;
    display: flex;
    align-items: center;
}

.header__lincs {
    color: #8E5109;
    width: 20%;
    text-decoration: none;
}

.header__linc {
    width: 20%;
    color: #000000;
    text-decoration: none;
}

.logo {
    width: 20%;
    font-size: 28px;
}

.header__login {
    width: 50%;
    text-align: right;
}

#log_in {
    background-color: rgba(142, 81, 9, 0.7);
    color: white;
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
}

.delivery {
    display: flex;
    width: 100%;
}

.delivery__text {
    padding: 40px 0px 90px 0px;
}

.delivery__title {
    font-size: 3vw;
    padding-top: 35px;
    padding-bottom: 40px;
    padding-left: 75px;
}

.addNewcategory {
    display: grid;
    margin: auto;
    cursor: pointer;
    font-size: 2vw;
    width: 13%;
    padding: 6px 0px;
}

.deliver__subtitles {
    font-size: 24px;
}

.footer {
    position: absolute;
    background-color: #C5C5C5;
    display: flex;
    width: 100%;
    bottom: 0;
}

.footer__content {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

#popup {
    position: relative;
    padding-top: 7px;
    position: fixed;
    background-color: white;
    top: 20%;
    left: 34%;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 30%;
    max-height: 100vh;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    font-size: 1.3vw;
}

#popup.active {
    visibility: visible;
    opacity: 1;
}

.login__title {
    padding-bottom: 8vh;
    padding-top: 8vh;
}

.popup__enter,
.email__input,
.password__input {
    width: 45%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 4vh;
    border-radius: 5px;
}

.forgotPassword {
    position: relative;
    padding: 4vh 0vh;
    width: fit-content;
    left: 25%;
}

.popup__enter {
    width: 50%;
    background-color: #8E5109;
    color: white;
}

.close__img {
    width: 7%;
    float: right;
}